<%= render('layouts/errors', :object => @week) %>

<%= form_for @week do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <p><%= f.submit %></p>
<% end %>
